.app-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.container {
    border: 1px solid black;
    padding: 10px;
    box-shadow: gray;
    margin: 4px 4px;
    line-height: 1.3rem;
    
    p {
        margin-top: 1.6em;
    }
}